[user]
	name = AJRego
	email = rego.andre99@gmail.com

[alias]
	st = status --short
	wt = worktree
	co = checkout
	br = branch --sort=-committerdate
	a = add
	r = remove
	c = commit
	lg = log --oneline --decorate --all --graph
	cob = checkout -b
	dbr = branch -d
	dc = diff --cached
	last = log -1 HEAD --stat
	rv = remote -v
	gl = config --global -l
	df = diff --staged
	push = !git push origin `git branch --show-current`
	pull = !git pull origin `git branch --show-current`
	hi = log --pretty=format:'%C(yellow)%h%Creset %ad | %Cgreen%s%Creset %Cred%d%Creset [%Cblue%an%Creset]' --date=short --graph --decorate

[core]
	autocrlf = true
	editor = hx
[url "https://"]
	insteadOf = git://
